@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700@500@600&display=swap");

:root {
  --basic-font: "Poppins", sans-serif;
}

.hr {
  border: 7px solid blue;
}
span {
  font-family: var(--basic-font);
  font-weight: 500;
}
h2 {
  font-family: var(--basic-font);
  font-weight: 600;
}
p {
  font-family: var(--basic-font);
  font-weight: 500;
  font-size: 20px;
}
.hr1 {
  border: 3px solid #e5e5e5;
}
