:root {
  --basic-font: "Poppins", sans-serif;
}

.hr {
  border: 7px solid blue;
}
span {
  font-family: var(--basic-font);
  font-weight: 400;
}
h2 {
  font-family: var(--basic-font);
  font-weight: 600;
}
p {
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: 22px;
}
.hr1 {
  border: 3px solid #e5e5e5;
}
